@model HomeViewModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}

<div class="text-center">
    <h1 class="h3">Don't forget!</h1>
    @foreach (var item in Model.MissingPredictions)
    {
        <div class="scoreboard">
            <div class="scoreboard__container">
                <div class="scoreboard__row">
                    <span class="label">
                        @item.Date.ToString("yyyy-MM-dd HH:mm")
                    </span>
                </div>
                <div class="scoreboard__teams">
                    <div class="scoreboard__team">
                        <div class="scoreboard__badge">
                            <img src="~/img/logo_@(@item.HomeTeam.ImageName).png" alt="@item.HomeTeam.Name" />
                        </div>
                        <span class="scoreboard__name">@item.HomeTeam.Name</span>
                        <span class="scoreboard__result-home">
                            @item.HomeGoal
                        </span>
                    </div>
                    <div class="scoreboard__team">
                        <div class="scoreboard__badge">
                            <img src="~/img/logo_@(item.AwayTeam.ImageName).png" alt="@item.AwayTeam.Name" />
                        </div>
                        <span class="scoreboard__name">@item.AwayTeam.Name</span>
                        <span class="scoreboard__result-home">
                            @item.AwayGoal
                        </span>
                    </div>
                </div>
                @if (item.Date > DateTime.Now.AddMinutes(10))
                {
                    <a class="scoreboard__link blink" asp-controller="Fixtures" asp-action="Prediction" asp-route-id="@item.FixtureId">Give score</a>
                }
            </div>
        </div>
    }

    <h1 class="h3 mt-3">Prediction in progress!</h1>
    @foreach (var item in Model.InProgressPredictions)
    {
        <div class="scoreboard">
            <div class="scoreboard__container">
                <div class="scoreboard__row">
                    <span class="label">
                        @item.Date.ToString("yyyy-MM-dd HH:mm")
                    </span>
                </div>
                <div class="scoreboard__teams">
                    <div class="scoreboard__team">
                        <div class="scoreboard__badge">
                            <img src="~/img/logo_@(@item.HomeTeam.ImageName).png" alt="@item.HomeTeam.Name" />
                        </div>
                        <span class="scoreboard__name">@item.HomeTeam.Name</span>
                        <span class="scoreboard__result-home">
                            @item.HomeGoal
                        </span>
                    </div>
                    <div class="scoreboard__team">
                        <div class="scoreboard__badge">
                            <img src="~/img/logo_@(item.AwayTeam.ImageName).png" alt="@item.AwayTeam.Name" />
                        </div>
                        <span class="scoreboard__name">@item.AwayTeam.Name</span>
                        <span class="scoreboard__result-home">
                            @item.AwayGoal
                        </span>
                    </div>
                </div>
                @if (item.Date > DateTime.Now.AddMinutes(10))
                {
                    <a class="scoreboard__link" asp-controller="Fixtures" asp-action="Prediction" asp-route-id="@item.FixtureId">Edit score</a>
                }
            </div>
        </div>
    }


    <h1 class="h3 mt-3">Liderlik koltugu</h1>
    <img src="~/img/lider05.PNG" class="img-fluid" alt="lider" />

    <h1 class="h3 mt-3">Puan Durumu</h1>
    <table class="table">
        <thead>
            <tr>
                <th>User</th>
                <th>P</th>
                <th>ES</th>
                <th>W</th>
                <th>L</th>
                <th>Pts</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Standings)
            {
                <tr class=@(SignInManager.IsSignedIn(User) && user?.UserName == item.UserName ? "current-user" : "")>
                    <td>@item.UserName</td>
                    <td>@item.Played</td>
                    <td>@item.ExactScore</td>
                    <td>@item.Win</td>
                    <td>@item.Lost</td>
                    <td>@item.Point</td>
                </tr>
            }
        </tbody>
    </table>
    @if (user?.UserName == "memo")
    {
        <form asp-action="UpdateStandings">
            <input type="submit" value="Update Standings" class="btn btn-outline-primary" />
        </form>
    }
</div>
