@model HomeViewModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}

<div class="text-center">
    @*<h1>Don't forget @Model.Fixtures?.First().Round.Name!</h1>
        <table class="table">
            <tbody>
                @foreach (var item in Model.Fixtures)
                {
                    <tr>
                        <td>
                            @item.Date.ToString("yyyy-MM-dd")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HomeTeam.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AwayTeam.Name)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Give score</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>*@


    <h1>Standings</h1>
    <table class="table table-responsive-sm">
        <thead>
            <tr>
                <th>
                    User
                </th>
                <th>
                    Played
                </th>
                <th>
                    XScore
                </th>
                <th>
                    Win
                </th>
                <th>
                    Lost
                </th>
                <th>
                    Points
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Standings)
            {
                <tr class=@(SignInManager.IsSignedIn(User) && user?.UserName == item.UserName ? "current-user" : "")>
                    <td>
                        @item.UserName
                    </td>
                    <td>
                        @item.Played
                    </td>
                    <td>
                        @item.ExactScore
                    </td>
                    <td>
                        @item.Win
                    </td>
                    <td>
                        @item.Lost
                    </td>
                    <td>
                        @item.Point
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (user?.UserName == "memo")
    {
        <form asp-action="UpdateStandings">
            <input type="submit" value="Update Standings" class="btn btn-outline-primary" />
        </form>
    }
</div>
