@model PredictionViewModel

<div class="row">
    <form asp-action="Prediction" class="col-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="FixtureId" />

        <div class="scoreboard">
            <div class="scoreboard__container">
                <div class="scoreboard__row">
                    <span class="label">
                        @Model.Date.ToString("yyyy-MM-dd HH:mm")
                    </span>
                </div>
                <div class="scoreboard__teams">
                    <div class="scoreboard__team">
                        <div class="scoreboard__badge">
                            <img src="~/img/logo_@(Model.HomeTeam.ImageName).png" alt="@Model.HomeTeam.Name" />
                        </div>
                        <span class="scoreboard__name">@Model.HomeTeam.Name</span>
                        <span class="scoreboard__result-home">
                            <select asp-for="HomeGoal" class="form-control" asp-items="ViewBag.Goals">
                            </select>
                        </span>
                    </div>
                    <div class="scoreboard__team">
                        <div class="scoreboard__badge">
                            <img src="~/img/logo_@(Model.AwayTeam.ImageName).png" alt="@Model.AwayTeam.Name" />
                        </div>
                        <span class="scoreboard__name">@Model.AwayTeam.Name</span>
                        <span class="scoreboard__result-home">
                            <select asp-for="AwayGoal" class="form-control" asp-items="ViewBag.Goals">
                            </select>
                        </span>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-12 mt-4">
            <div class="d-flex justify-content-center align-items-center">
                <input type="submit" value="Save score" class="btn btn-primary col-4" />

                <a asp-action="Index" asp-controller="Home" class="col-4 offset-1">Back to Home</a>
            </div>
        </div>
    </form>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
