@model ExactScore.Data.Entities.Prediction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Prediction</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fixture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fixture.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HomeGoal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HomeGoal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AwayGoal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AwayGoal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Point)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Point)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdentityUser.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
